@{
    ViewData["Title"] = "About";
}
<style>
    div {
        font-size: 12pt;
    }
    p {
        font-size: 10pt;
    }
    hr.style {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(35, 161, 209, 0.75), rgba(0, 0, 0, 0));
    }

</style>

<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Hakkımızda</h4>
            <p class="card-category">
                Günlük kasa hareketlerini tutabileceğiniz, son derece kullanışlı, gelir/gider tutma programıdır.

            </p>
        </div>
        <div class="card-body">
            <br />
            Kasa Takip Programı ile Günlük Kasa Hareketlerinizi Kasa Defteri mantığında kaydedebilir, düzenleyebilirsiniz.
            Kasa Programı - Menüde bulunan Kasa Kayıt ekranında Kasa Giriş - Kasa Çıkış kayıtlarını yapabilir ve kayıt esnasında girmiş olduğunuz Açıklama bilgisine göre raporlama yapabilirsiniz.
            <br />
            <hr class="style">
            Eklenen bir kaydı düzenlemek için kayıt satırında bulunan düzenle butonuna tıklayarak ilgili kayıda özel Kayıt Düzenleme ekranına ulaşabilir, gerekli düzenlemeleri tamamladıktan sonra Kaydet butonuna tıklayarak kayıt düzenleme işlemini tamamlayabilirsiniz.
            Not almanız gerektiğinde kağıt - kalem aramak yerine Açıklama özelliğini kullanarak gerekli notları kayıt altına alabilirsiniz. Notlarınızı Dijital ortamda sakladığınız için blok kağıtları kaybetme stresi yaşamaz ve dilediğiniz zaman görüntüleyebilisiniz.

            <br />
            <hr class="style">

            Görsel ara yüz, kolay kullanım ve tamamen ücretsiz bu programı mutlaka deneyin.


        </div>
    </div>
</div>
