
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div {
        font-size: 12pt;
    }
    hr.style {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(35, 161, 209, 0.75), rgba(0, 0, 0, 0));
    }
    hr.style2 {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(35, 161, 209, 0.75), rgba(0, 0, 0, 0));
    }
</style>


<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">İletişim</h4>
            <p class="card-category">
                Bize Ulaşın.
            </p>
        </div>
        <div>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kasa Takip Programı hakkında daha ayrıntılı bilgi almak için bize iletişim adreslerimizden ulaşabilirsiniz.
            <hr class="style">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tel: +90 551 552 79 18
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E-mail: cengiz69mg@gmail.com
        </div>
        <hr class="style2">

        <div class="card-body">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1gPmL0B-Aze1Hv5Xx5D0UmJ8zK64YwcBE" width="910" height="380"></iframe>
        </div>

    </div>
</div>